In [1]:
# Import dependencies
from alpha_vantage.timeseries import TimeSeries
import sys
import pandas as pd
from config import api_key

In [4]:
whole_data = []
tickers = ["CPRT", "KMX", "PAG", "LAD", "AN", "MBLY", "APTV", "MGA", "LKQ", "ALV", "TSLA", "TM", "HMC", "GM", "F", "NVDA", "TSM", "AVGO", "AMD", "INTC" ]

for ticker in tickers:
    ts = TimeSeries(key= api_key, output_format='pandas')
    data, meta_data = ts.get_daily(symbol=ticker, outputsize='full')
    data_df = pd.DataFrame(data)
    data_df = data_df.sort_index()

# Set the 'date' column as the index
    start_date = '2017-12-31'
    end_date = '2024-02-26'
    filtered_data = pd.DataFrame(data_df.loc[start_date:end_date])
    filtered_data["Ticker"] = ticker
    # filtered_data["Industry"] = "Automotive"
    
    whole_data.append(filtered_data)

In [5]:
final_data = pd.concat(whole_data)
final_data

            1. open  2. high  3. low  4. close   5. volume Ticker
date
2018-01-02   43.520  43.6700   43.19     43.60    860740.0   CPRT
2018-01-03   43.630  43.8500   43.20     43.39   1152481.0   CPRT
2018-01-04   43.500  43.9500   43.30     43.74   1164240.0   CPRT
2018-01-05   43.770  43.8800   43.03     43.53    922916.0   CPRT
2018-01-08   43.590  43.8600   43.28     43.55   1254075.0   CPRT
...             ...      ...     ...       ...         ...    ...
2024-02-16   44.030  44.2199   43.12     43.51  29975301.0   INTC
2024-02-20   44.260  45.1700   43.42     44.52  61514136.0   INTC
2024-02-21   44.480  44.6900   43.08     43.47  57714970.0   INTC
2024-02-22   44.680  44.6800   42.53     42.98  62809318.0   INTC
2024-02-23   43.125  43.5100   42.66     42.99  33810714.0   INTC

[29707 rows x 6 columns]

In [8]:
final_data.to_csv('../raw_auto_stock_data.csv', index=True)